*{
  padding: 0;
  margin: 0;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: rgb(18, 18, 18); */
  background: linear-gradient(0deg, black, rgb(0, 29, 0), black);
  background-size: 400% 400%;
  animation: gradient 5s ease-in-out infinite;
  background-color: black;
}

@keyframes gradient {
  0%{
    background-position: 0% 0%;
  }

  25%{
    background-position: 100% 50%;
  }

  50%{
    background-position: 0% 50%;
  }

  100%{
    background-position: 0% 0%;
  }
}

